{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ site.Params.description }}</p>
      <div class="d-flex flex-wrap justify-content-center gap-2 my-3">
        <a class="btn btn-primary btn-cta rounded-pill btn-lg" href="{{ "posts/" | relURL }}" role="button">Read blog</a>
        <a class="btn btn-outline-primary rounded-pill btn-lg" href="{{ "docs/" | relURL }}" role="button">View docs</a>
      </div>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
{{ end }}

{{ define "sidebar-footer" }}
{{ end }}
